<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">

<p>USUARIOS</p>
<ul>
  <li ng-repeat="x in misDatos">
    {{ x.nombre + ', ' + x.correo}}
  </li>
</ul>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $http.get("http://localhost:8080/ejemplo/mostrar")
  .then(function(response) {
    $scope.misDatos = response.data;
  });
});
</script>
<div th:switch="${users}">
    <h2 th:case="null">No hay usuarios!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <h2>Total Users: </h2>
            <h2 th:text="${total}"></h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.nombre}"></td>
                    <td th:text="${user.correo}"></td>
                    <td><a th:href="@{/editar/{id}(id=${user.id})}">Editar</a></td>
                    <td><a th:href="@{/eliminar/{id}(id=${user.id})}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a th:href="@{/agregar}">Agregar un nuevo usuario</a></p>
</div>
</html>