<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.pruebaFinal.controller.mapper.UserMapper">

	
    <select id="findAllUsers" resultType="UserEntity">
       Select * from "Users" 
    </select>
    
    <insert id="insertUser" parameterType="UserEntity">
    	
    	insert into "Users" (nombre,correo) values (#{nombre},#{correo})
    
    </insert>
    
     <select id="totalDatos" statementType="CALLABLE"  parameterType="String" resultType="String">
        {call totalDatos(
                        #{para,   jdbcType=VARCHAR, javaType=java.lang.String, mode=IN}
         )
        }
    </select>  
    
    <delete id="deleteUser" parameterType="int">
    
    	delete from "Users" where id = #{id}
    
    </delete>
    
</mapper>